* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    background: transparent;
    color: #e6e6f0;      
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
}

html {
    scroll-behavior: smooth; 
}

/* CONTAINER */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}