<footer class="main-footer">
    <div class="footer-content">
        <p class="footer-copy">Desenvolvido e codificado por Francisco</p>

        <div class="footer-center">
            © <span id="year"></span> • Francisco Neto
        </div>

        <div class="social-links">
            <a href="https://github.com/Francisco-Neto13" target="_blank">
                <img src="assets/images/github.webp" alt="Link para o GitHub">
            </a>
            <a href="https://www.instagram.com/cisscoo_" target="_blank">
                <img src="assets/images/instagram.webp" alt="Link para o Instagram">
            </a>
            <a href="https://www.linkedin.com/in/jfrancisco-neto/" target="_blank">
                <img src="assets/images/linkedin.webp" alt="Link para o LinkedIn">
            </a>
        </div>
    </div>
</footer>