<header class="main-header">
    <div class="container header-content">
        <a href="#inicio" class="nav-logo">
            <img src="assets/images/logo.webp" alt="Logo - Voltar ao Início" class="logo-header">
        </a>

        <button class="mobile-menu-icon" aria-label="Abrir Menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>

        <nav class="nav-menu">
            <ul>
                <li><a href="#inicio">Início</a></li> 
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#about">Sobre Mim</a></li> 
            </ul>
        </nav>
    </div>
</header>