/*  Degradê animado com GPU */
@keyframes gradientMoveGPU {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}


/* Glow suave no H2 (*/
@keyframes breathingGlow {
    0% {
        text-shadow: 0 0 0px #9b5cff;
    }
    50% {
        text-shadow: 0 0 2px #cfc8dd;
    }
    100% {
        text-shadow: 0 0 0px #9b5cff;
    }
}

/* Animação de entrada  */
@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
