/* 1. BASE (Configurações Globais) */
@import url('base/reset.css'); 


/* 2. UTILITIES (Keyframes e Animações) */
@import url('utilities/animations.css');


/* 3. LAYOUT (Estrutura da Página) */
@import url('layout/hero.css');


/* 4. COMPONENTS (Elementos Reutilizáveis) */
@import url('components/buttons.css');