/* CONTACT BUTTONS  */
.bottom-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
}

.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* "Contatos" */
.contact-buttons h1 {
    font-size: 2rem;
    color: #9b5cff;
    margin-bottom: 10px;

    /* ANIMAÇÃO DE ENTRADA */
    animation: fadeSlide 1.4s ease 1.4s forwards;
    opacity: 0;
}

/* Wrapper de Botões  */
.buttons-wrapper {
    display: flex;
    gap: 15px;
    
    /* ANIMAÇÃO DE ENTRADA */
    animation: fadeSlide 1.4s ease 1.7s forwards;
    opacity: 0;
}


/* BOTÕES — Hover e Clique */
.contact-buttons a {
    padding: 12px 22px;
    background: #1b1036;
    border: 1px solid #9b5cff;
    border-radius: 8px;
    text-decoration: none;
    color: #dcdcdc;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 15px;

    transition: transform .35s ease, box-shadow .35s ease, background .35s ease, color .35s ease;
}

/* ANIMAÇÃO DE HOVER */
.contact-buttons a:hover {
    background: #dcdcdc;
    color: #0b0b12;

    transform: translateY(-4px) scale(1.05) rotateX(8deg);

    box-shadow: 0 8px 18px rgba(155, 92, 255, 0.35);
}

/*  EFEITO CLIQUE  */
.contact-buttons a:active {
    transform: scale(0.98) translateY(1px); 
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 0 20px rgba(155, 92, 255, 1); 
}

.contact-buttons img {
    width: 20px;
    height: 20px;
}