.project-card {
    background: rgba(10, 5, 25, 0.4); 
    backdrop-filter: blur(4px);
    
    border-radius: 12px;
    padding: 20px; 
    border: 1px solid rgba(155, 92, 255, 0.15); 
    
    display: flex; 
    flex-direction: column;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(155, 92, 255, 0.2); 
}

/* IMAGEM DO PROJETO */
.project-image-container {
    aspect-ratio: 4 / 3; 
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 8px;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* DETALHES E TEXTOS */

.project-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.project-card h3 {
    font-size: 1.3rem; 
    color: #bca7ff; 
    margin-bottom: 5px; 
    line-height: 1.2;
}

.project-description {
    font-size: 0.85rem; 
    color: #cfc8dd;
    line-height: 1.4;
    margin-bottom: 10px; 
    
    display: -webkit-box;
    -webkit-line-clamp: 7; 
    -webkit-box-orient: vertical;
    
    line-clamp: 2; 
    box-orient: vertical; 
    display: box; 
    
    overflow: hidden;
    text-overflow: ellipsis; 
}


/* TECNOLOGIAS */
.project-tech-stack {
    display: flex;
    flex-wrap: wrap; 
    gap: 8px;
    margin-top: 5px; 
    margin-bottom: 15px;
}

.tech-badge {
    background-color: rgba(155, 92, 255, 0.1); 
    color: #bca7ff; 
    font-size: 0.75rem; 
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
}

/* LINKS E BOTÕES */
.project-links {
    display: flex;
    gap: 10px;
    margin-top: auto; 
    padding-top: 10px;
    border-top: 1px solid rgba(155, 92, 255, 0.1); 
}

.link-btn {
    text-decoration: none;
    padding: 8px 12px; 
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 0.85rem;
}

.primary-btn {
    background-color: #9b5cff;
    color: #0b0b12; 
}

.primary-btn:hover {
    background-color: #bca7ff;
}

.secondary-btn {
    background-color: transparent;
    color: #bca7ff;
    border: 1px solid #9b5cff;
}

.secondary-btn:hover {
    background-color: rgba(155, 92, 255, 0.1);
}