.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0 5%;
    
    scroll-margin-top: 85px;
}

/* Wrapper Principal  */
.hero-content-wrapper {
    display: flex;
    flex-direction: column; 
    gap: 50px; 
    width: 100%;
    max-width: 1100px; 
}

/* Wrapper de Conteúdo Principal */
.hero-content-main {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 80px;
}

/* HERO – LEFT CONTENT */
.hero-left {
    max-width: 550px;
}

/* Nome */
.hero-left h1 {
    font-size: 3rem;
    font-weight: 700;

    /* Degrade */
    background: linear-gradient(90deg, #9B5CFF 0%, #cfc8dd 50%, #9b5cff 100%);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    /* ANIMAÇÕES COMBINADAS */
    animation: gradientMove 5s ease infinite, fadeSlide 1.4s ease 0.2s forwards; 
    opacity: 0; 
    margin-bottom: 10px;
}

/* Subtítulo */
.hero-left h2 {
    font-size: 1.8rem;
    color: #c38fff;
    margin-bottom: 20px;
    
    /* ANIMAÇÕES COMBINADAS */
    animation: breathingGlow 4s ease-in-out infinite, fadeSlide 1.4s ease 0.5s forwards; 
    opacity: 0;
}

/* Parágrafo */
.hero-left p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #cfc8dd;

    /* ANIMAÇÃO DE ENTRADA */
    animation: fadeSlide 1.4s ease 0.8s forwards;
    opacity: 0;
}


/* HERO – RIGHT CONTENT */

.hero-right {
    width: 320px;
    height: 320px;
    background: #271c44;
    border-radius: 50%; /* FORMATO CIRCULAR */
    border: 2px solid #dcdcdc;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0; 

    animation: fadeSlide 1.4s ease 1.1s forwards;
    opacity: 0;
}


.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BACKGROUND  */

#background-video {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -100;

    filter: brightness(0.45);
    pointer-events: none; 
}


.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 0, 40, 0.45); 
    z-index: -50;
    pointer-events: none;
}